		Body{
			Background:Lightblue;
		}
		Header{
			Text-align:Left;
			Font-size:30px;
		}
		Div{
			Text-align:Right;
		}
		.Pic-sub{
			Text-align:left;
			Padding:50px;
			Margin:10px;
		}
		ul{
			color:blue;
		}
		ul li a{
			color:blue;
			text-decoration:none;
			Font-size:40px;
			Padding:30px;
			Margin:50px;
		}
		li{
			display:Inline-block;
		}